// colors
$black:#000;
$gray:#555;
$l-gray:#989898;
$blue:#2eb7f3;
$green: #24caa1;
$yellow:#faca39;
$orange:#ff7f5a;
$red:#eb4b4b;
$dark-blue:#3f4d9f;
$blue-gray:#4c5667;
$purple:#805bbe;
$dark-green:#0c666a;

$dark-blue-3: #3b4352;
$dark-blue-2: #2f343e;
$dark-blue-1: #1F232B;

$light-gray: #a2a7b1